In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("sample.xlsx")
print(df.head())

   account                         name                                street  \
0   211829   Kerluke, Koepp and Hilpert                    34456 Sean Highway
1   320563               Walter-Trantow                     1311 Alvis Tunnel
2   648336   Bashirian, Kunde and Price  62184 Schamberger Underpass Apt. 231
3   109996  D'Amore, Gleichner and Bode           155 Fadel Crescent Apt. 144
4   121213                Bauch-Goldner                   7274 Marissa Common

              city          state  postal-code     Jan     Feb    Mar
0       New Jaycob          Texas        28752   10000   62000  35000
1    Port Khadijah  NorthCarolina        38365   95000   45000  35000
2   New Lilianland           Iowa        76517   91000  120000  35000
3       Hyattburgh          Maine        46021   45000  120000  10000
4  Shanahanchester     California        49681  162000  120000  35000

In [3]:
# print city
print(df['city'])

0            New Jaycob
1         Port Khadijah
2        New Lilianland
3            Hyattburgh
4       Shanahanchester
5          Jeremieburgh
6     Lake Gabriellaton
7            Deronville
8       Lake Juliannton
9             North Ras
10             Rosaberg
11        Norbertomouth
12          East Davian
13         Goodwinmouth
14      Kathryneborough
Name: city, dtype: object

In [6]:
# add up values
df['total'] = df['Jan'] + df['Feb'] + df['Mar']
print(df['total'])

0     107000
1     175000
2     246000
3     175000
4     317000
5     305000
6     252000
7     275000
8     200000
9     225000
10    220000
11    322000
12    317000
13    210000
14    340000
Name: total, dtype: int64

In [9]:
# sum jan column
print(df['Jan'].sum())

1462000