# Pandas

In [1]:
import pandas as pd
movies = pd.read_csv('http://bit.ly/imdbratings')
%matplotlib inline

In [2]:
# get first 5 rows
movies.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [3]:
movies.shape

(979, 6)

In [4]:
# setting how rows/columsn to show
pd.set_option('display.max_columns', 3)
pd.set_option('display.max_rows', 10)

In [5]:
movies

     star_rating  ...                                        actors_list
0            9.3  ...  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1            9.2  ...    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2            9.1  ...  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3            9.0  ...  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4            8.9  ...  [u'John Travolta', u'Uma Thurman', u'Samuel L....
..           ...  ...                                                ...
974          7.4  ...  [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975          7.4  ...  [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976          7.4  ...  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977          7.4  ...  [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[979 rows x 6 columns]

In [6]:
# get last 5 rows
movies.tail()

     star_rating  ...                                        actors_list
974          7.4  ...  [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
975          7.4  ...  [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
976          7.4  ...  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
977          7.4  ...  [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
978          7.4  ...  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...

[5 rows x 6 columns]

In [7]:
# get columns
movies.columns

Index(['star_rating', 'title', 'content_rating', 'genre', 'duration',
       'actors_list'],
      dtype='object')

In [8]:
type(movies)

pandas.core.frame.DataFrame

In [9]:
# using separators
#user_cols = ['user_id', 'age', 'gender','occupation', 'zip_code']
#pd.read_table('http://bit.ly/movieusers', sep="|", header=None, names=user_cols)

# Indexes

In [10]:
# show index
movies.index

RangeIndex(start=0, stop=979, step=1)

In [11]:
# set a new index
movies.set_index('title', inplace=True)

In [12]:
movies.index

Index(['The Shawshank Redemption', 'The Godfather', 'The Godfather: Part II',
       'The Dark Knight', 'Pulp Fiction', '12 Angry Men',
       'The Good, the Bad and the Ugly',
       'The Lord of the Rings: The Return of the King', 'Schindler's List',
       'Fight Club',
       ...
       'Law Abiding Citizen', 'Wonder Boys', 'Death at a Funeral',
       'Blue Valentine', 'The Cider House Rules', 'Tootsie',
       'Back to the Future Part III',
       'Master and Commander: The Far Side of the World', 'Poltergeist',
       'Wall Street'],
      dtype='object', name='title', length=979)

In [13]:
movies

,star_rating,...,actors_list
title,,,
The Shawshank Redemption,9.3,...,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
The Godfather,9.2,...,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
The Godfather: Part II,9.1,...,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
The Dark Knight,9.0,...,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
Pulp Fiction,8.9,...,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...
Tootsie,7.4,...,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
Back to the Future Part III,7.4,...,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
Master and Commander: The Far Side of the World,7.4,...,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
Poltergeist,7.4,...,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
Wall Street,7.4,...,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [14]:
# access using new index of titile
movies.loc['Pulp Fiction']

star_rating                                                     8.9
content_rating                                                    R
genre                                                         Crime
duration                                                        154
actors_list       [u'John Travolta', u'Uma Thurman', u'Samuel L....
Name: Pulp Fiction, dtype: object

In [15]:
# get genre
movies.loc['Pulp Fiction', 'genre']

'Crime'

In [16]:
# reset index
# movies.reset_index()

## Sorting

In [17]:
# get unique genre sorted
sorted(movies.genre.unique())

['Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'History',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'Thriller',
 'Western']

## Using Filters

In [24]:
# create filter

filter_var = (movies['title'] == 'Tootsie')
# # apply filter
movies[filter_var]

SyntaxError: EOL while scanning string literal (<ipython-input-24-24c7487e0b39>, line 2)

In [ ]:
# using loc
movies.loc[filter_var]

In [ ]:
# negate filter
movies.loc[~filter_var]

In [ ]:
# get only value from a specific columns
movies.loc[filter_var, 'genre']

In [ ]:
movies[movies.duration > 200]

In [ ]:
# using and 
movies[(movies.content_rating == 'R') & (movies.genre == 'Crime')]

In [ ]:
 # using OR
movies[(movies.content_rating == 'R') | (movies.genre == 'Crime')]

In [ ]:
# using and  with loc
movies.loc[filter_var]

In [ ]:
# using isin method
movies[movies.genre.isin(['Crime', 'Drama'])]

In [ ]:
# find a movie title with a certain value
movies[movies.title.str.contains("Blue")]

In [ ]:
# get specific columns
movies[['star_rating', 'title']].head()

## Grouping data

In [ ]:
# using groupby
movies.groupby('genre').count()

In [ ]:
# groupby multiple columsn
movies.groupby(['genre', 'content_rating']).count()

In [ ]:
movies.groupby('genre').duration.mean()

In [ ]:
movies.groupby('content_rating').duration.count().plot()

In [ ]:
# average movie length
movies.duration.mean()

In [ ]:
# longest movie
movies.duration.max()

In [ ]:
# access column
movies['genre']

In [ ]:
# using dot notation
movies.title

In [ ]:
movies.shape

In [ ]:
# get info 
movies.info()

In [ ]:
# describe gives stats on numeric columns
movies.describe()

In [ ]:
movies.describe(include=['object'])

In [ ]:
movies.shape

In [ ]:
movies.dtypes

In [ ]:
movies.head()

In [ ]:
# adding a new series or column
movies['NewColumn'] = movies['genre'] + "," + "test"
movies.head()

In [ ]:
# show columns
movies.columns

In [ ]:
# rename columns in pandas data frame  - method 1
movies.rename(columns = {'NewColumn': 'New_ColumnName', 'duration': 'Duration'}, inplace=True)
movies.columns

In [ ]:
# replace columns value chars - ex. replace _ with space
movies.columns = movies.columns.str.replace('_', ' ')
movies.columns

In [ ]:
# remove column; axis 0 = row axis 1 = column axis 
movies.drop('New ColumnName', axis=1, inplace=True)
movies.columns

In [ ]:
# remove mulitple columns; pass as a list
movies.drop(['title', 'genre'], axis=1, inplace=True)
movies.columns

In [ ]:
movies.head()

In [ ]:
movies.shape

In [ ]:
# remove a row; example removes 2 rows
movies.drop([0,1], axis=0, inplace=True)
movies.shape

In [ ]:
movies.head()

In [ ]:
movies = pd.read_csv('http://bit.ly/imdbratings')
movies.head()

In [ ]:
# sort values; asc is default
movies.title.sort_values()

In [ ]:
# sort descend show columns values
movies.title.sort_values(ascending=False)

In [ ]:
# another sort method but shows entire data set
movies.sort_values('title')

In [ ]:
# sort by multiple columns
movies.sort_values(['duration', 'genre'], ascending=False)

In [ ]:
# filter rows
booleans = []
for length in movies.duration:
    if length >= 200:
        booleans.append(True)
    else:
        booleans.append(False)

In [ ]:
len(booleans)

In [ ]:
is_long = pd.Series(booleans)

In [ ]:
is_long.head(3)

In [ ]:
# method 2
is_long = movies.duration >=200
is_long.head(3)

In [ ]:
# display movies with duration >=200
movies[is_long]

In [ ]:
# best method for filter
movies[movies.duration >=200]

In [ ]:
# show R rated movies
movies[movies.content_rating == 'R']

In [ ]:
# show only title of R rated movies
movies[movies.content_rating == 'R']['title']

In [ ]:
# using loc
movies.loc[movies.content_rating == 'R', 'title']

In [ ]:
#select numeric columns and calculate the sums; add a total row to then end
sums = movies.select_dtypes(pd.np.number).sum().rename('Total')
movies.append(sums)